<div class="create_task">
  <div>
    <h1>New Todo:</h1>
    <div class="form">
      <form>
        <input
          type="text"
          [(ngModel)]="task.name"
          name="name"
          placeholder="Brush Teeth"
        />

        <h5 (click)="addDescription()">
          <a *ngIf="!toAddDescription"> + Add description? </a>
          <a *ngIf="toAddDescription"> - Remove description? </a>
        </h5>

        <textarea
          maxlength="60"
          [(ngModel)]="task.description"
          name="description"
          *ngIf="toAddDescription"
          placeholder="Describe your task here..."
        ></textarea>
      </form>
      <div class="submit">
        <button type="submit" (click)="addTask()">Add</button>
      </div>
    </div>
  </div>
</div>
