<div class="list_task">
  <div>
    <div class="edit_todo">
      <h2>Edit:</h2>
      <form action="">
        <div class="inputs">
          <input
            type="text"
            [(ngModel)]="task.name"
            name="name"
            [attr.disabled]="!task.name ? '' : null"
          />

          <select
            [attr.disabled]="!task.name ? '' : null"
            [(ngModel)]="task.isDone"
            name="isDone"
          >
            <option value="Fazer">Fazer</option>
            <option value="Feito">Feito</option>
          </select>

          <h5 (click)="editDescription()">
            <a *ngIf="!toEditDescription"> &rarr; Edit description? </a>
            <a *ngIf="toEditDescription"> &darr; Close edition? </a>
          </h5>

          <textarea
            maxlength="60"
            [(ngModel)]="task.description"
            name="description"
            *ngIf="toEditDescription"
            [attr.disabled]="!task.name ? '' : null"
          ></textarea>

          
        </div>
        <div class="submit">
          <button type="button" (click)="updateTask(task)">Save</button>
        </div>
      </form>
    </div>

    <table class="list_todo">
      <tbody>
        <div *ngFor="let task of tasks">
          <tr>
            <td>
              <span *ngIf="task.description">
                <i nz-icon nzType="right" *ngIf="!toEditDescription" nzTheme="outline"></i>
                <i nz-icon nzType="down" *ngIf="toEditDescription" nzTheme="outline"></i>
              </span>
              
            </td>
            <td
              [class.done]="task.isDone === 'Feito'"
              (click)="handleDescriptionChange(task)"
            >
              {{ task.name }}
            </td>
            <!-- <td>{{ task.description }}</td> -->
            <td>{{ task.isDone }}</td>
            <td>
              <button
                nz-button
                nzType="primary"
                (click)="readById(task)"
                class="edit_button"
              >
                <i nz-icon nzType="edit"></i>
              </button>
            </td>
            <td *ngIf="task.isDone !== 'Fazer'">
              <button
                nz-button
                nzType="danger"
                (click)="deleteTask(task)"
                class="delete_button"
              >
                <i nz-icon nzType="delete"></i>
              </button>
            </td>
          </tr>
          <div [id]="task.id" class="description">
            <p>Description: {{ task.description }}</p>
          </div>
        </div>
      </tbody>
    </table>
  </div>
</div>

<!-- MODAL -->
<ng-template #deleteModal let-params>
  <p>
    Você está excluindo o lembrete:
    <span style="color: 'red'">{{ params.task.name }}</span>
  </p>
</ng-template>
