<div class="list_task">
  <div>
    <div class="edit_todo">
      <h2>Edit:</h2>
      <form action="">
        <input
          type="text"
          [(ngModel)]="task.name"
          name="name"
          [attr.disabled]="!task.name ? '' : null"
        />

        <select
          [attr.disabled]="!task.name ? '' : null"
          [(ngModel)]="task.isDone"
          name="isDone"
        >
          <option value="Fazer">Fazer</option>
          <option value="Feito">Feito</option>
        </select>

        <button type="button" (click)="updateTask(task)">Save</button>
      </form>
    </div>

    <table class="list_todo">
      <tbody>
        <div *ngFor="let task of tasks">
          <tr>
            <td>
              <input type="checkbox" />
            </td>
            <td [class.done]="task.isDone === 'Feito'">{{ task.name }}</td>
            <!-- <td>{{ task.description }}</td> -->
            <td>{{ task.isDone }}</td>
            <td>
              <button
                nz-button
                nzType="primary"
                (click)="readById(task)"
                class="edit_button"
              >
                <i nz-icon nzType="edit"></i>
              </button>
            </td>
            <td *ngIf="task.isDone !== 'Fazer'">
              <button
                nz-button
                nzType="danger"
                (click)="deleteTask(task)"
                class="delete_button"
              >
                <i nz-icon nzType="delete"></i>
              </button>
            </td>
          </tr>
          <div>
            <p>{{ task.description }}</p>
          </div>
        </div>
      </tbody>
    </table>
  </div>
</div>

<ng-template #deleteModal let-params>
  <p>
    Você está excluindo o lembrete:
    <span style="color: 'red'">{{ params.task.name }}</span>
  </p>
</ng-template>
