<div class="list_task">
  <div>
    <div class="edit_todo">
      <h2>Edit:</h2>
      <form action="">
        <input
          type="text"
          [(ngModel)]="task.name"
          name="name"
          [attr.disabled]="!task.name ? '' : null"
        />
        <button type="button" (click)="updateTask(task)">Save</button>
      </form>
    </div>

    <table class="list_todo">
      <tbody>
        <tr *ngFor="let task of tasks">
          <td>
            <input type="checkbox" />
          </td>
          <td>{{ task.name }}</td>
          <td>
            <button
              nz-button
              nzType="primary"
              (click)="readById(task)"
              class="edit_button"
            >
              <i nz-icon nzType="edit"></i>
            </button>
          </td>
          <td>
            <button
              nz-button
              nzType="danger"
              (click)="deleteTask(task)"
              class="delete_button"
            >
              <i nz-icon nzType="delete"></i>
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
